.switch {
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  height: 24px;
  padding: 4px 6px;
  font-size: 14px;
  border-radius: 15px;

  &:focus {
    box-shadow: 0 0 1px 2px $color-white, 0 0 1px 4px $color-border-focus;
  }

  &-thumb {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: $color-white;
    border-radius: 50%;


    &-disable {
      pointer-events: none !important;
      background-color: $color-gray10 !important;
    }

    &-on {
      right: calc(0% + 3px);
      transform: translateX(0%);
      transition: all .3s ease-in-out;
    }

    &-off {
      right: calc(100% - 3px);
      transform: translateX(100%);
      transition: all .3s ease-in-out;
    }
  }


  &-label {
    display: flex;
    align-items: center;
    min-width: 20px;
    padding: 0 2px;
    color: $color-white;
    cursor: pointer;

    &-disable {
      pointer-events: none !important;
      color: $color-gray10 !important;
    }
  }

  &-label-on {
    margin-right: 18px;
    justify-content: flex-start;
  }

  &-label-off {
    margin-left: 18px;
    justify-content: flex-end;
  }

  &-on {
    // flex-direction: row-reverse;
    background-color: $color-switch-on;
  }

  &-off {
    // flex-direction: row;
    background-color: $color-switch-off !important;
  }

  &-primary {
    background-color: $color-btn-primary-default;
  }

  &-secondary {
    background-color: $color-btn-secondary-default;
  }

  &-tertiary {
    background-color: $color-btn-tertiary-default;
  }

  &-success {
    background-color: $color-btn-success-default;
  }

  &-warning {
    background-color: $color-btn-warning-default;
  }

  &-error {
    background-color: $color-btn-error-default;
  }

  &-info {
    background-color: $color-btn-info-default;
  }

  &-disable {
    pointer-events: none !important;
    background-color: $color-disabled !important;
    color: $color-gray10 !important;
  }
}